main {
  margin-top: 7rem;
  margin-right: 6rem;
  margin-left: 6rem;
  margin-bottom: 3rem;
}

.main-title {
  font-family: "richmond-display", sans-serif;
  font-size: 8rem;
  font-weight: 350;
  letter-spacing: 0.5rem;
  word-spacing: 1rem;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.article-title {
  font-family: "peridot-pe-variable", sans-serif;
  font-size: 4rem;
}

.content-first-part {
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  width: auto;
}

p {
  grid-column: 1;
  font-family: "peridot-pe-variable", sans-serif;
  text-align: justify;
  width: 40rem;
  padding-right: 3rem;
  font-size: 1rem;
  line-height: 2.1rem;
}

.text-one {
  margin-top: 0;
}

.quote-one {
  font-style: italic;
  font-size: 1.1rem;
}

.leaf-image {
  grid-column: 1;
  width: 100%;
}

.china-image {
  width: 50%;
}

.france-image {
  width: 50%;
}

.first-img-container {
  display: flex;
  grid-column: 2;
  gap: 2rem;
  justify-content: center;
}

.quote-two {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-weight: 450;
}

.content-second-part {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.content-third-part {
  display: flex;
  width: 100%;
  align-items: center;
}

.iran-image {
  width: 20rem;
  height: 18rem;
  object-fit: fill;
}

.text-three {
  width: 100%;
  padding-left: 2rem;
  padding-right: 0;
  margin-top: 0;
}

.author {
  display: flex;
  width: 100%;
  background-color: rgb(253, 250, 250);
  margin-top: 2rem;
  align-items: center;
}

.hannah {
  margin-left: 1rem;
}

.selfie {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  object-position: center;
  border-radius: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.article-info {
  background-color: rgb(253, 250, 250);
  border-top: 0.06rem solid black;
  font-size: 0.8rem;
  margin-top: 0;
  width: calc(100% - 1rem);
  padding-right: 0;
  padding-left: 1rem;
}
