main {
  margin-right: 8rem;
  margin-left: 8rem;
  margin-bottom: 3rem;
}

/*TEXT CONTAINER*/

.overline-title {
  color: var(--green);
  margin-bottom: 1.8rem;
}

.main-title {
  color: var(--green);
  font-family: "richmond-display", sans-serif;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  /* text-decoration: underline;
  text-underline-offset: 1rem; */
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  word-spacing: 0.5rem;
}

.underline-title {
  color: var(--green);
}

.mini-title {
  color: rgb(251, 209, 130);
  margin-top: 1rem;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
}

.article-title {
  color: var(--green);
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 600;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

/*FIRST SECTION*/

p {
  color: var(--brown);
  grid-column: 1;
  font-family: "peridot-pe-variable", sans-serif;
  text-align: justify;
  width: 40rem;
  padding-right: 3rem;
  font-size: 1rem;
  line-height: 2.1rem;
}

.content-first-part {
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  width: auto;
}

.text-one {
  margin-top: 0;
}

.quote-one {
  color: var(--green);
  /* font-style: italic; */
  font-size: 1.3rem;
  text-align: center;
}

.first-img-container {
  display: flex;
  grid-column: 2;
  gap: 2rem;
  justify-content: center;
}

.china-image {
  width: 46%;
}

.france-image {
  width: 46%;
}

/*BIG QUOTE*/

.line-over-quote {
  margin-top: 2rem;
}

.quote-two {
  color: var(--green);
  width: 100%;
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: 450;
}

.line-under-quote {
  margin-bottom: 2rem;
}

/*SECOND SECTION*/

.content-second-part {
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  width: auto;
}

.second-img-container {
  display: flex;
  grid-column: 1;
  gap: 2rem;
  justify-content: center;
  padding-left: 3rem;
}

.berlin-image {
  width: 55%;
}

.thailand-image {
  width: 55%;
}

.second-text {
  grid-column: 2;
  padding-left: 6rem;
  padding-right: 0rem;
}

/*THIRD SECTION*/

.text-three {
  color: var(--brown);
  width: auto;
  padding-right: 0;
  margin-top: 1rem;
}

/*ARTICLE SIGNATURE*/

.author {
  color: var(--brown);
  display: flex;
  width: auto;
  background-color: var(--blue);
  margin-top: 2rem;
  align-items: center;
}

.name-hannah {
  color: var(--brown);
  margin-left: 1rem;
}

.selfie {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  object-position: center;
  border-radius: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.article-info {
  color: var(--brown);
  background-color: var(--blue);
  border-top: 0.06rem solid black;
  font-size: 0.8rem;
  font-style: italic;
  margin-right: 0;
  width: auto;
  padding-left: 1rem;
}
