body {
  background-color: var(--offwhite);
}

hr {
  width: 22rem;
  border: 0.05rem solid var(--green);
  margin-top: 5rem;
  margin: auto;
}

h1 {
  color: var(--green);
  text-align: center;
  margin-bottom: 7rem;
  margin-top: 2rem;
  font-size: 3rem;
  font-family: "richmond-display", sans-serif;
  font-weight: 600;
}

/*MAIN CONTENT*/

.content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*INPUT FIELDS*/

#form {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  background-color: var(--green);
  border-radius: 1rem;
  padding-top: 5rem;
  padding-bottom: 1.5rem;
  align-items: center;
  margin-left: 5rem;
}

input {
  height: 2.5rem;
  border: none;
  padding: 1rem;
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 200;
  font-size: 1.3rem;
  color: var(--green);
}

/*FIRST NAME & LAST NAME INPUT FIELDS*/
.first-last-name {
  display: flex;
  gap: 1.3rem;
}

#first-name,
#last-name {
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  width: 20rem;
}

/*MAIL & SUBJECT INPUT FIELDS*/

#email,
#subject {
  width: 41.5rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

/*MESSAGE INPUT FIELD*/
#message {
  width: 41.5rem;
  height: 20rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

input::placeholder {
  padding: 0;
  font-size: 1.3rem;
}

/*SEND BUTTON*/
.send {
  width: 8rem;
  height: 3rem;
  margin-right: 31.5rem;
  border-radius: 0.5rem;
  border-style: solid;
  background-color: var(--offwhite);
  border-color: var(--offwhite);
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 400;
  color: var(--green);
  font-size: 1rem;
  cursor: pointer;
}

/*CONTACT INFO SECTION*/

.contact-info {
  color: var(--brown);
  grid-column: 2;
  padding-left: 4rem;
  padding-right: 4rem;
}

.custom-alert {
  background-color: #d4edda;
  color: #155724;
  padding: 12px 20px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 1rem;
  display: none; /* Dölj först */
}

.custom-alert.show {
  display: block;
}
