body {
  background-color: var(--offwhite);
}

hr {
  width: 22rem;
  border: 0.05rem solid var(--green);
  margin-top: 5rem;
  margin: auto;
}

h1 {
  color: var(--green);
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 3rem;
  font-family: "richmond-display", sans-serif;
  font-weight: 600;
}

/*MAIN CONTENT*/

.content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*INPUT FIELDS*/

#form {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  background-color: var(--green);
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  align-items: center;
  margin-left: 5rem;
  margin-bottom: 6rem;
}

.input-contact {
  height: 2.5rem;
  border: none;
  padding-left: 1rem;
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 200;
  font-size: 1.3rem;
  color: var(--green);
}

/*FIRST NAME & LAST NAME INPUT FIELDS*/
.first-last-name {
  display: flex;
  gap: 1.3rem;
}

#first-name,
#last-name {
  margin-bottom: 1.5rem;
  width: 20rem;
  padding-left: 1rem;
  border-radius: 0;
}

/*MAIL & SUBJECT INPUT FIELDS*/

#email-form,
#subject {
  width: 41.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  border-radius: 0;
}

/*MESSAGE INPUT FIELD*/
#message {
  width: 41.5rem;
  height: 20rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 200;
  font-size: 1.3rem;
  color: var(--green);
  background-color: var(--offwhite);
  border: none;
}

input::placeholder {
  font-size: 1.3rem;
  padding-left: 0rem;
}

#message::placeholder {
  padding-left: 0rem;
  font-size: 1.3rem;
}

span {
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 400;
  font-size: 1rem;
  color: var(--offwhite);
}

.button-text {
  display: flex;
  align-items: center;
}

.thank-you {
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 300;
  font-size: 1rem;
  color: var(--offwhite);
  padding-right: 2rem;
  display: none;
}

/*SEND BUTTON*/
.send {
  width: 8rem;
  height: 3rem;
  align-self: start;
  border-style: solid;
  background-color: var(--offwhite);
  border-color: var(--offwhite);
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 400;
  color: var(--green);
  font-size: 1rem;
  cursor: pointer;
}

.send:hover {
  background: var(--green);
  color: var(--offwhite);
  transition: ease 0.2s;
}

/*CONTACT INFO SECTION*/

.contact-info {
  color: var(--brown);
  grid-column: 2;
  align-content: start;
  padding-left: 4rem;
  padding-right: 4rem;
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 300;
  font-size: 1.3rem;
  letter-spacing: 0.02rem;
}

.contact-text {
  margin-bottom: 1rem;
}

.contact-text-rubric {
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 600;
  font-size: 1.5rem;
  letter-spacing: 0.02rem;
  margin-top: 4rem;
}

.where,
.number,
.our-mail {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 10px; /* Optional: keeps space between icon and text */
}

.icon {
  width: 5%;
}

.custom-alert {
  background-color: var(--offwhite);
  color: var(--green);
  border: 0.5rem solid var(--green);
  padding: 4rem;
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 500;
  font-size: 1.5rem;
  display: none;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.custom-alert.show {
  display: block;
}
