* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--offwhite);
}

/*STYLING TEXT + LINE IN TOP*/

.find-your-text {
  color: var(--green);
  text-align: center;
  font-size: 3rem;
  padding-bottom: 2rem;
  margin-top: 0.7rem;
  font-family: "richmond-display", sans-serif;
  font-weight: 600;
}

.line-1 {
  width: 37rem;
  border: 0.05rem solid var(--green);
  margin: auto;
  justify-content: center;
}

.recharge-text {
  display: grid;
  grid-template-columns: 2;
  align-items: center;
}

.recharge {
  grid-column: 1;
  font-size: 2rem;
  color: var(--green);
  padding-left: 20rem;
  margin-right: 10rem;
  margin-bottom: 0;
  font-family: "richmond-display", sans-serif;
  font-weight: 500;
}

.destination-text {
  grid-column: 2;
  font-size: 1.13rem;
  margin-bottom: 2rem;
  color: var(--green);
  padding-right: 20rem;
  margin-top: 0;
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 200;
  letter-spacing: 0.02rem;
}

/*STYLING BUTTONS*/

.destination-buttons {
  max-width: 100%;
  margin: auto;
}

.img-big-button {
  width: 62%;
  display: block;
  margin: auto;
}

.img-big-button:hover {
  opacity: 70%;
  transition: ease 0.2s;
}

.small-images {
  display: flex;
  row-gap: 2rem;
  gap: 1rem;
  margin: auto;
  margin-top: 1rem;
  padding-bottom: 10rem;
}

.img-small-buttons {
  width: calc(62.5% - 0.5rem);
  display: block;
  justify-content: center;
  margin: auto;
}

.img-small-buttons:hover {
  opacity: 70%;
  transition: ease 0.2s;
}

#asia-button {
  margin-right: 0;
}

#europe-button {
  margin-left: 0;
}

/*STYLING TIPS & TRICKS SECTION*/

.tips-and-tricks {
  background-color: rgb(211, 232, 227, 0.5);
  padding: 2rem;
}

.line-2 {
  width: 30rem;
  border: 0.05rem solid var(--green);
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin: auto;
}

.tips-tricks {
  color: var(--green);
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  font-family: "richmond-display", sans-serif;
  font-weight: 600;
}

.tips-text {
  color: var(--green);
  font-size: 1.2rem;
  text-align: justify;
  padding-left: 19rem;
  padding-right: 19rem;
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 200;
  font-size: 1.3rem;
  padding-bottom: 2rem;
}

.tips-images {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#check-list,
#luggage,
#money,
#food {
  width: 18rem;
  height: 18rem;
}
