body {
  background-color: var(--offwhite);
}

.line {
  border: 0.05rem solid var(--green);
  width: 33rem;
  justify-content: center;
  margin: auto;
}

h1 {
  color: var(--green);
  font-size: 3rem;
  font-family: "richmond-display", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  text-align: center;
}

.instructions {
  color: var(--brown);
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 300;
  font-size: 1.13rem;
  width: 20rem;
  margin-top: 3rem;
  margin-left: 60rem;
  margin-bottom: 2.5rem;
}

/*FILTER CONTAINER*/

.filter-container {
  background-color: rgb(0, 70, 71, 0.1);
  display: flex;
  align-items: center;
  padding-left: 1rem;
  height: 4rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

#filter-icon {
  width: 5%;
}

.continent-buttons {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1.2rem;
}

/*STYLING BUTTONS*/

#favorite-button-all {
  width: 16rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 2rem;
}

.filter-button {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: var(--offwhite);
  color: var(--green);
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 500;
  font-size: 1.13rem;
  letter-spacing: 0.08rem;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

/*BUTTON EFFECTS*/

.filter-button:hover,
.filter-button.active {
  background-color: rgb(0, 70, 71, 0.5);
  color: var(--offwhite); /* använd samma färg som du vill ha för aktiv knapp */
}

/*FAVORITE CONTAINER*/

#favorite-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: center;
}

#favorite-content img {
  width: 65%;
}

.like-button {
  background: var(--offwhite);
  border: none;
  width: 3%;
  z-index: 1000;
  position: absolute;
  margin-left: 11%;
  cursor: pointer;
}

.title {
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 600;
  font-size: 1.13rem;
  color: var(--brown);
  margin-bottom: 3rem;
}
