* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*GLOBAL COLORS*/
:root {
  --offwhite: rgb(248, 246, 243);
  --green: rgb(0, 70, 71);
  --blue: rgb(211, 232, 227);
  --brown: rgb(61, 36, 10);
}

body {
  color: var(--offwhite);
}

/*HEADER*/

header {
  width: 100%;
  align-items: center;
  display: flex;
  padding-top: 1rem;
  position: absolute;
  justify-content: space-between;
  padding-left: 7rem;
  padding-right: 7rem;
}

#logo {
  height: 2rem;
}

#logo,
#heart-link,
nav {
  position: relative;
  z-index: 1;
}

.heart-icon {
  width: 3rem;
}

nav a {
  text-decoration: none;
  color: var(--green);
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 500;
  font-size: 1.13rem;
  letter-spacing: 0.03rem;
  cursor: pointer;
}

nav {
  display: flex;
  gap: 4rem;
}

nav a:hover {
  color: var(--green);
  transition: ease 0.2s;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

/*HEADER IMAGE*/

#header-container {
  position: relative;
}

#header-first-page-img {
  width: 100%;
  height: 48rem;
  object-fit: cover;
  object-position: top;
  z-index: 0;
}

#header-text {
  font-family: "richmond-display", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 5rem;
  color: var(--offwhite);
  filter: drop-shadow(0.1rem 0.1rem 0.2rem var(--brown));
  position: absolute;
  bottom: 10rem;
  left: 8rem;
}

/*FIRST TEXT BOX*/

.line-1 {
  border: 0.05rem solid var(--green);
  width: 15rem;
  margin-left: 60rem;
  margin-top: 9rem;
}

.first-text {
  font-family: "peridot-pe-variable", sans-serif;
  color: var(--green);
  font-size: 1.3rem;
  margin-left: 60rem;
  width: 16rem;
  margin-top: 1rem;
  margin-bottom: 9rem;
}

/*IMAGES*/

.img-layout {
  width: 100%;
  display: grid;
  position: relative;
  height: 36rem;
}

.line-2 {
  border: 0.05rem solid var(--offwhite);
  width: 18rem;
  margin-top: 7rem;
  margin-left: 7.8rem;
  position: absolute;
  z-index: 1000;
}

h2 {
  position: absolute;
  color: var(--offwhite);
  z-index: 1000;
  bottom: 20rem;
  left: 8rem;
  font-family: "richmond-display", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
}

#img-text-leaf {
  position: absolute;
  color: var(--offwhite);
  z-index: 1000;
  bottom: 9rem;
  left: 8rem;
  width: 23rem;
  height: 10rem;
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 400;
  font-size: 1.3rem;
}

.leaf-img {
  width: 100%;
  height: 36rem;
  object-fit: cover;
  grid-column: 1/2;
  grid-row: 1/2;
  position: absolute;
  z-index: 0;
}

.eifel-img {
  width: 35rem;
  object-fit: scale-down;
  position: absolute;
  z-index: 100;
  grid-column: 2;
  grid-row: 1/2;
  margin-top: 6.8rem;
  margin-left: 45rem;
}

/*BUTTON*/

.arrow-text {
  display: flex;
  margin-top: 12.2rem;
  margin-left: 29rem;
}

.thick-arrow-img {
  width: 7%;
  margin-top: 0.3rem;
}

.explore-button {
  font-family: "peridot-pe-variable", sans-serif;
  border: none;
  background-color: transparent;
  color: var(--green);
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  cursor: pointer;
}

.explore-button:hover {
  text-decoration: underline;
  text-underline-offset: 0.7rem;
}

/*ROLLING IMAGES*/

h3 {
  font-family: "peridot-pe-variable", sans-serif;
  color: var(--green);
  font-weight: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 22rem;
  margin-bottom: 16rem;
}

/*FOOTER*/

footer {
  background-color: rgb(0, 70, 71);
  margin-top: 5rem;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: repeat (2, 1fr);
}

#footer-container1 {
  grid-column: 1;
  padding-left: 11rem;
  padding-right: 5rem;
  padding-bottom: 3rem;
  color: rgb(254, 251, 246);
}

#footer-container2 {
  grid-column: 2;
  padding-left: 11rem;
  padding-right: 5rem;
}

.subscribe-button {
  background-color: rgb(254, 251, 246);
  color: rgb(0, 70, 71);
  border-color: rgb(0, 70, 71);
  border-style: solid;
  border-radius: 1.25rem;
  width: 7rem;
  height: 2.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: rgb(0, 70, 71);
  color: rgb(254, 251, 246);
  border-color: rgb(254, 251, 246);
}

.subscribe-text {
  letter-spacing: 0.01rem;
  word-spacing: 0.02rem;
  color: rgb(254, 251, 246);
}

input {
  background-color: rgb(254, 251, 246);
  color: rgb(0, 70, 71);
  border: none;
  border-radius: 1.25rem;
  width: 15rem;
  height: 2.5rem;
}

::placeholder {
  color: rgb(0, 70, 71);
  padding-left: 1rem;
}

.copy-right {
  background-color: rgb(0, 70, 71);
  padding-left: 2rem;
  color: rgb(254, 251, 246);
}

.copy-logo {
  margin-right: 0.2rem;
}
