body {
  background-color: var(--offwhite);
}

/*TEXT*/

.continent-container {
  margin-left: 8rem;
  margin-right: 8rem;
}

.title {
  font-family: "richmond-display", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  color: var(--green);
  margin-bottom: 1rem;
  text-align: center;
}

.description {
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 300;
  font-size: 1.13rem;
  color: var(--brown);
  margin-bottom: 2rem;
  width: 65rem;
  margin: auto;
  text-align: center;
  padding-bottom: 2rem;
  line-height: 1.5;
}

/*FILTER CONTAINER*/

.filter-container {
  background-color: rgb(0, 70, 71, 0.1);
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  height: 4rem;
  margin-left: 8.8rem;
  margin-right: 8.8rem;
}

#filter-icon {
  width: 5%;
}

.continent-buttons {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1.2rem;
}

/*STYLING BUTTONS*/

#button-all {
  width: 16rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 2rem;
}

.scroll-filter-button {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: var(--offwhite);
  color: var(--green);
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 500;
  font-size: 1.13rem;
  letter-spacing: 0.08rem;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

/*BUTTON EFFECTS*/

.scroll-filter-button.active,
.scroll-filter-button:hover {
  background-color: rgb(0, 70, 71, 0.5);
  color: var(--offwhite);
}

/*COUNTRY CONTAINER*/

.container {
  margin-left: 4rem;
  margin-right: 4rem;
  color: var(--brown);
}

#content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.content img {
  width: 70%;
  z-index: 1;
  transition: 0.5 ease;
}

.content img:hover {
  opacity: 70%;
  transition: 0.4s ease;
}

.content h2 {
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 600;
  font-size: 1.13rem;
  margin-top: 0.5rem;
  font-size: 1.3rem;
  margin-bottom: 5rem;
  letter-spacing: 0.08rem;
}

.like-button {
  background: var(--offwhite);
  border: none;
  width: 3%;
  z-index: 1000;
  position: absolute;
  margin-left: 15%;
  cursor: pointer;
}

/*RESPONSIVE*/

@media screen and (max-width: 2561px) {
  #content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .description {
    width: 70rem;
  }
  .filter-container {
    height: 5rem;
  }
  .like-button {
    margin-left: 12%;
  }
}

@media screen and (max-width: 2000px) {
  #content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .description {
    width: auto;
  }
  .filter-container {
    margin-left: 7rem;
    margin-right: 7rem;
  }
  .like-button {
    margin-left: 17%;
  }
}

@media screen and (max-width: 1600px) {
  .description {
    width: auto;
  }

  .like-button {
    margin-left: 15%;
  }
}

@media screen and (max-width: 1200px) {
  .description {
    width: 40rem;
  }
  .filter-container {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media screen and (max-width: 1170px) {
  .filter-container {
    height: 3rem;
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .continent-buttons {
    font-size: 0.9rem;
  }
  .scroll-filter-button {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  #filter-icon {
    width: 10%;
    padding-left: 0.9rem;
  }
  .like-button {
    width: 4%;
  }
}

@media screen and (max-width: 1000px) {
  #content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .description {
    width: auto;
  }
  .like-button {
    margin-left: 21%;
    width: 5%;
  }
}
@media screen and (max-width: 900px) {
  .filter-container {
    margin: 2rem;
    padding-right: 0;
  }
  .scroll-filter-button {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 800px) {
  .continent-container {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .description {
    width: auto;
  }
  img {
    place-self: center;
  }
  .filter-container {
    height: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  #button-all {
    width: 10rem;
    margin-left: 1rem;
  }
  .like-button {
    margin-left: 7%;
  }
  .content img {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .description {
    width: auto;
  }
  .filter-container {
    width: 35rem;
    margin: auto;
    margin-bottom: 2rem;
    height: 2.5rem;
  }

  #button-all {
    width: 8rem;
    margin-left: 1rem;
  }
  .scroll-filter-button {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 0.7rem;
    width: 7rem;
  }
}

@media screen and (max-width: 627px) {
  main {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--brown);
  }

  .scroll-filter-button {
    font-size: 0.7rem;
  }
  #button-all {
    width: 7rem;
    margin-left: 0.6rem;
    margin-left: 0.1rem;
  }
  #button-asia,
  #button-europe {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    width: 7rem;
  }

  .continent-buttons {
    gap: 0.5rem;
  }
  .filter-container {
    width: 25rem;
    margin: auto;
    margin-bottom: 2rem;
  }

  #filter-icon {
    padding-left: 0.5rem;
  }

  .description {
    width: auto;
    place-self: center;
    font-size: 1.13rem;
  }
  .like-button {
    width: 7%;
  }
}

@media screen and (max-width: 460px) {
  .content img {
    width: 90%;
  }
  .description {
    width: auto;
    font-size: 1rem;
  }
  .filter-container {
    width: 21rem;
  }

  .scroll-filter-button {
    font-size: 0.7rem;
  }

  #button-asia,
  #button-europe {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    width: 4rem;
  }

  .content h2 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 2rem;
  }

  .description {
    width: auto;
  }

  .filter-container {
    width: 18.5rem;
  }

  .like-button {
    width: 8%;
    margin-left: 9%;
  }
}
